<h1>Authentications#new</h1>
<p>Find me in app/views/authentications/new.html.erb</p>
<h1>Sign Up</h1>

        <%= form_for @authentication do |f| %>
          <% if @authentication.errors.any? %>
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
                <% for message in @authentication.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= f.label :empid %>
            <%= f.text_field :empid %>
          </div>
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="actions"><%= f.submit "Sign Up" %></div>
        <% end %>